:root{
    --dark-color:#be8682;
    --main-color:#FFFBF1 ;
}

body{
    background-color:var(--dark-color);
    color: white;
}
/*Navbar style*/
.navbar{
    background-color: var(--main-color)!important;
}

h1{
    color: var(--dark-color) !important;
    font-family: "Gveret Levin", cursive;
   font-weight: 400;
   font-style: normal;
   font-size: 30px !important;
}

.form-control:focus{
    border-color: var(--dark-color);
    box-shadow: 0 0 0 .25rem #be938252;
}

.add-btn{
    background-color:var(--dark-color) ;
    border: 1px solid var(--dark-color)!important ;
}

.add-btn:hover {
    background-color: var(--dark-color);
}

.add-btn:active{
    background-color:var(--dark-color)!important ;
}

/*----------------------------------------------------------*/
.product img{
    height: 250px;
    object-fit: cover;

}

/*--------------------------------------------------*/
/*modal style*/
.model{
    background-color: rgba(0, 0, 0, 0.767);
}



